/* Tabs block */
.tabs .tabs-list {
  display: flex;
  gap: 0;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
  overflow-x: auto;
  border-bottom: 2px solid #e8e4eb;
}

@media (width >= 600px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-m);
  }
}

.tabs .tabs-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: 0;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  padding: 12px 20px;
  background-color: transparent;
  color: var(--dark-color);
  font-weight: 600;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: nowrap;
  cursor: pointer;
  transition: border-color 0.2s, color 0.2s;
}

.tabs .tabs-list button p {
  margin: 0;
}

.tabs .tabs-list button:hover,
.tabs .tabs-list button:focus-visible {
  color: var(--brand-primary);
}

.tabs .tabs-list button[aria-selected='true'] {
  border-bottom-color: var(--brand-primary);
  color: var(--brand-primary);
  cursor: initial;
}

.tabs .tabs-panel {
  padding: 24px 0;
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}
