/* Footer */
footer {
  background-color: var(--dark-color);
  color: var(--background-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0.4em 0;
}

footer a:any-link {
  color: var(--background-color);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: var(--brand-primary-light);
}

footer .footer > div:first-child {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgb(255 255 255 / 15%);
}

footer .footer > div:first-child a.button.primary {
  background-color: var(--brand-primary);
  border-color: var(--brand-primary);
  color: var(--background-color);
}

footer .footer > div:first-child a.button.primary:hover,
footer .footer > div:first-child a.button.primary:focus-visible {
  background-color: var(--brand-primary-dark);
  border-color: var(--brand-primary-dark);
}

footer .icon {
  width: 28px;
  height: 28px;
  filter: brightness(0) invert(1);
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0.8em 0;
}

footer ul li {
  display: inline;
  padding-right: 16px;
}

footer .footer > div:last-child {
  border-top: 1px solid rgb(255 255 255 / 15%);
  text-align: center;
  padding-top: 16px;
  color: rgb(255 255 255 / 60%);
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
